*{
    margin: 0;
    padding: 0;
    background: #1f2020;
    user-select: none;
}

.divs{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    background: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    font-size: 20px;
}

.active{
    background: darkgoldenrod;
    transition: 1s;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
